:root{
    --main-color:#0F0F0F;
    --gray-color: #222222;
    --font-color:#E7E7E7;
    --blue-color:#3EA5FE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--font-color);
    /* overflow: hidden; */
}

button, i, img{
    cursor: pointer;
}

.main-content{
    width: 100%;
    padding: 1rem 4rem;
    /* overflow-y: auto;
    scrollbar-width: none; */

    h1{
        margin-bottom: 1rem;
    }
}

.history-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100vh; /* Ensure it takes full height */
    overflow: hidden; /* Prevent unnecessary scrolling */
}

.history-content {
    /* background-color: blue; */
    overflow-y: auto; /* Allows scrolling inside if content overflows */
    padding: 1rem;
    width: 60%;
    scroll-behavior: smooth;
    scrollbar-width: none;

    h2{
        margin-bottom: 2rem 0;
    }
}

.search-history {
    /* background-color: aqua; */
    overflow-y: auto; /* Allows scrolling inside */
    padding: 1rem;
    width: 40%;
}

.history-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;

    h3{
        display: flex;
        align-items: center;
    }
}

#history-cards-header-title{
    font-size: 1.1rem;
}


.history-cards{
    width: 100%;
    height: 10rem;
    display: flex;
    gap: 0.75rem;
    /* justify-content: space-between; */
    width: 100%;
    margin: 1rem 0;


    iframe{
        height: 100%;
        width: 40%;
        border-radius: 10px;
    }
}

.history-cards-content{
    width: 100%;

    h3{
        width: 80%;
    }
}


.history-cards-header{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;

    button{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 1.5rem;
        color: var(--font-color);
    }

    i{
        padding: 0.5rem;
    }

    p{
        width: 80%;
    }
}

.search-history{
    /* position: fixed; */
    margin-top: 0;
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* height:15rem; */

    p{
        margin: 0.5rem 0;
        font-size: 1.15rem;
        margin-left: 3rem;

        i{
            margin-right: 1rem;
        }
    }

    .manage-history{
        margin-left: 0;
    }
}

.clear-all-history{
    margin: 1rem;
    align-self: flex-start;
}

.clear-history-pop{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40rem;
    padding: 1rem;
    background-color: var(--gray-color);
    border-radius: 10px;
    display: none;

    p{
        margin: 0;
        font-size: 1.05rem;
        margin: 1rem;
        color: rgb(169, 169, 169);
    }

    p:first-child{
        font-weight: 700;
        color: var(--font-color);
    }

    button{
        padding: 0.6rem 1rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1rem;
        margin-top: 2rem;
    }
    #clear-history-btn{
        color: var(--blue-color);
    }
}

.pause-history-pop{
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40rem;
    padding: 1rem;
    background-color: var(--gray-color);
    border-radius: 10px;
    display: none;

    p{
        margin: 0;
        font-size: 1.05rem;
        margin: 1rem;
        color: rgb(169, 169, 169);
    }

    p:first-child{
        font-weight: 700;
        color: var(--font-color);
    }

    button{
        padding: 0.6rem 1rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1rem;
        margin-top: 2rem;
    }
    #clear-history-btn{
        color: var(--blue-color);
    }
}

.search-bar{
    width: 100%;
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--gray-color);
    font-size: 1.25rem;
    margin-bottom: 1rem;

    input{
        width: 100%;
        background-color: var(--main-color);
        border: none;
        color: var(--font-color);
        outline: none;
        margin-left: 2rem;
        font-size: 1.05rem;
        /* padding: 0.5rem 1rem; */
    }
    i{
        position: absolute;
    }
}






