*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: block;
}

.video-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
    width: 100%;
    margin-top: 2rem;
}

#currVideo{
    width: 64%;
}

iframe{
    width: 100%;
    /* width:48rem; */
    height:30rem;
    border-radius: 10px;
}

.video-side-content{
    width: 33%;
    background-color: aqua;
}

/* .newVideo{
    width: 100%;
    height: auto;
} */

.comment-buttons {
    display: none;
}
.single-comment {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.likeDislike {
    display: flex;
    gap: 10px;
    cursor: pointer;
}